@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, hmtl {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

header h1 {
    color: #353535;
    font-size: 50pt;
    font-weight: 600;
    

    margin: 6px 15px;
}

#all {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#config {
    flex-grow: 2;
}

#config h3 {
    color: #353535;
    font-size: 20pt;
    font-weight: 550;

    margin: 8px 30px;

}

#charactervalue {
    display: block;
    width: 24rem;
    height: 4rem;
    
    margin: 8px 30px;
    padding: 0 10px;
    
    color: #fff;    
    background: #3C6E71;
    font-size: 20pt;
    
    border: #3c6e71 solid 1px;
    border-radius: 10px;
}

#config button {
    height: 2rem;
    width: 7rem;
    
    font-size: 12pt;

    background: #3C6E71;
    color: #fff;
    font-weight: 600;
    
    border: #3C6E71 solid 1px;
    border-radius: 8px;

    margin: 8px 30px;

    transition: background-color 0.5s ease-in-out;
}

#config button:hover {
    background: #395253;
    border: solid #395253 1px;
    box-shadow: 0 1px 2px 0 #395253;
}

#return {
    flex-grow: 1;
}

#return textarea {
    height: 30rem;
    width: 90%;

    background: #D9D9D9;
    border: #D9D9D9 solid 1px;
    border-radius: 15px;

    padding: 15px;

    font-size: 20pt;
    margin: 10px 0;
}


#return button {
    display: block;
    margin: auto;

    height: 3rem;
    width: 7rem;
    
    font-size: 12pt;

    background: #3C6E71;
    color: #fff;
    font-weight: 600;
    margin: auto;
    
    border: #3C6E71 solid 1px;
    border-radius: 8px;

    transition: background-color 0.5s ease-in-out;
}

#return button:hover {
    background: #395253;
    border: solid #395253 1px;
    box-shadow: 0 2px 3px 0 #395253;
}

#allownumbers, #allowlargeprint, #allowspecialsharacters {
    margin: 10px 5px 8px 30px;
    
}

footer p {
    text-align: center;
    color: #353535;
}

footer p a {
    text-decoration: none;
    color: #3C6E71;
}

@media only screen and (max-width: 850px) {
    #all {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #charactervalue {
        display: block;
        width: 14rem;
        height: 4rem;
        
        margin: 8px 30px;
        padding: 0 10px;
        
        color: #fff;    
        background: #3C6E71;
        font-size: 20pt;
        
        border: #3c6e71 solid 1px;
        border-radius: 10px;
    }

    #return textarea {
        height: 30rem;
        width: 85%;
    
        background: #D9D9D9;
        border: #D9D9D9 solid 1px;
        border-radius: 15px;
    
        padding: 10px;
    
        margin: 15px;
    
    }
}

::placeholder {
    font-size: 20pt;
}